<div class="header">

    <mat-icon class="cells left" svgIcon="cell"></mat-icon>
    <mat-icon class="cells right" svgIcon="cell"></mat-icon>

    <div class="container">
        <div class="content">
            <h3>Hello, welcome I'm</h3>
            <h1>Adrien <span class="primary-color">Laigle</span></h1>
            <h2 class="title">IT Engineer Specialized in IA & Data</h2>
            <p class="description">Currently in the Engineering cycle at ESIEA (Higher School of Automatic Electronic
                Computing), specializing in Artificial Intelligence, I have been working for more than 3 years in
                cybersecurity.</p>
            <div class="button" (click)="explore()">
                <span>Explore</span>
                <mat-icon>arrow_forward</mat-icon>
            </div>
        </div>
    </div>
</div>

<app-experiences></app-experiences>