<div class="container" id="start">
    <h1><span class="primary-color">IA & Data </span>is my expertise</h1>
    <p class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt reprehenderit veritatis
        aperiam. Accusamus repellendus corporis harum recusandae doloremque nemo, asperiores assumenda consequatur
        perspiciatis? Est accusamus temporibus sapiente, nulla repellat cumque?</p>


    <div class="card-container">
        <mat-icon class="cells center" svgIcon="cell"></mat-icon>

        <div class="card">
            <div class="icon">
                <mat-icon svgIcon="brain"></mat-icon>
            </div>
            <p class="title">IA & Data</p>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum labore error
                laboriosam
                qui cum quasi explicabo nisi dicta rerum, sapiente, adipisci ratione corrupti provident praesentium
                doloribus placeat exercitationem perferendis molestiae!</p>
        </div>
        <div class="card">
            <div class="icon">
                <mat-icon svgIcon="robot"></mat-icon>
            </div>
            <p class="title">Programmation</p>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum labore error
                laboriosam
                qui cum quasi explicabo nisi dicta rerum, sapiente, adipisci ratione corrupti provident praesentium
                doloribus placeat exercitationem perferendis molestiae!</p>
        </div>
        <div class="card">
            <div class="icon">
                <mat-icon svgIcon="sciences"></mat-icon>
            </div>
            <p class="title">Sciences & Mathematics</p>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum labore error
                laboriosam
                qui cum quasi explicabo nisi dicta rerum, sapiente, adipisci ratione corrupti provident praesentium
                doloribus placeat exercitationem perferendis molestiae!</p>
        </div>
    </div>


    <h1 id="experiences" class="experiences-title"><span class="primary-color">Experiences</span></h1>
    <div class="experiences-content">
        <div class="image"></div>
        <div class="timeline">
            <div class="time">
                <h3>2023 - Today</h3>
            </div>
            <div class="time">
                <h3>2020 - 2023</h3>
            </div>
            <div class="time">
                <h3>2019</h3>
            </div>
            <div class="time">
                <h3>2018 - 2020</h3>
            </div>
        </div>
        <div class="experience-container">
            <div class="company">
                <h2>GLIMPS</h2>
                <p class="subtitle">
                    R&D Research - IA
                </p>
                <p class="description">
                    I’m working on GLIMPS technology and machine learning models to improve malware analysis.
                </p>

                <div class="tags-container">
                    <div class="tag primary-background-color">
                        <span>Python</span>
                    </div>
                    <div class="tag primary-background-color">
                        <span>TensorFlow</span>
                    </div>
                    <div class="tag primary-background-color">
                        <span>Machine learning</span>
                    </div>
                    <div class="tag primary-background-color">
                        <span>IA</span>
                    </div>
                </div>
                <mat-icon svgIcon="glimps"></mat-icon>
                <div class="point">
                    <div class="center"></div>
                </div>
            </div>
            <div class="company">
                <h2>GLIMPS</h2>
                <p class="subtitle">
                    Software Developer
                </p>
                <p class="description">
                    I developed a software front-end for analysis and characterization of malwares.
                </p>

                <div class="tags-container">
                    <div class="tag primary-background-color">
                        <span>TypeScript</span>
                    </div>
                    <div class="tag primary-background-color">
                        <span>Angular</span>
                    </div>
                    <div class="tag primary-background-color">
                        <span>Unit-test</span>
                    </div>
                    <div class="tag primary-background-color">
                        <span>Docker</span>
                    </div>
                    <div class="tag primary-background-color">
                        <span>UX/UI</span>
                    </div>
                </div>
                <mat-icon svgIcon="glimps"></mat-icon>
                <div class="point">
                    <div class="center"></div>
                </div>
            </div>
            <div class="company">
                <h2>Comète Informatique</h2>
                <p class="subtitle">
                    Software Developer - Stage
                </p>
                <p class="description">
                    I developed a document management solution with php and javascript.
                </p>

                <div class="tags-container">
                    <div class="tag primary-background-color">
                        <span>JavaScript</span>
                    </div>
                    <div class="tag primary-background-color">
                        <span>PHP</span>
                    </div>
                    <div class="tag primary-background-color">
                        <span>Database</span>
                    </div>
                    <div class="tag primary-background-color">
                        <span>SQL</span>
                    </div>
                </div>
                <mat-icon svgIcon="comete"></mat-icon>
                <div class="point">
                    <div class="center"></div>
                </div>
            </div>
            <div class="company">
                <h2>Odelim</h2>
                <p class="subtitle">
                    Developer - Product Owner
                </p>
                <p class="description">
                    I created a delivery management solution for fuel oil professionals.
                </p>

                <div class="tags-container">
                    <div class="tag primary-background-color">
                        <span>JavaScript</span>
                    </div>
                    <div class="tag primary-background-color">
                        <span>NodeJS</span>
                    </div>
                    <div class="tag primary-background-color">
                        <span>Database</span>
                    </div>
                    <div class="tag primary-background-color">
                        <span>SQL</span>
                    </div>
                    <div class="tag primary-background-color">
                        <span>Team management</span>
                    </div>
                    <div class="tag primary-background-color">
                        <span>Flutter</span>
                    </div>
                </div>
                <mat-icon svgIcon="odelim"></mat-icon>
                <div class="point">
                    <div class="center"></div>
                </div>
            </div>
        </div>
    </div>

</div>