<div class="projects">
    <div class="main-container">
        <h1 class="title">My <span class="primary-color">Projects</span></h1>
        <p class="description">Throughout my academic journey, I actively led various projects to enhance my skills and
            broaden my knowledge. As a proactive learner, I recognized the value of practical experience in
            complementing theoretical concepts. Taking the initiative, I assumed leadership roles in different projects
            during my studies, gaining valuable hands-on expertise in diverse areas.</p>

        <div class="card-container">
            <div class="card" *ngFor="let project of projects">
                <img class="card-image" [src]="'assets/images/' + project.images[0]" alt="project image">
                <div class="card-content">
                    <p class="card-title">
                        {{project.title}}
                    </p>
                    <p class="card-description">
                        {{project.short_description}}
                    </p>
                    <div class="link" [routerLink]="project.id">
                        <span>Learn more</span>
                        <mat-icon>arrow_forward_ios</mat-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <mat-icon class="cells left" svgIcon="cell"></mat-icon>
</div>