<div class="main-container">


    <!-- <div class="contact-container">
        <div class="image"></div>
        <div class="contact-content">
            <div class="contact-item">
                <div class="circle">
                    <mat-icon>email</mat-icon>
                </div>

                <div class="item-content">
                    <p class="label">E-mail</p>
                    <p class="info">adrien.laigle35@gmail.com</p>
                </div>
            </div>
            <div class="contact-item">
                <div class="circle">
                    <mat-icon>home</mat-icon>
                </div>
                <div class="item-content">
                    <p class="label">Linkedin</p>
                    <p class="info">Adrien Laigle</p>
                </div>
            </div>
        </div>
    </div> -->

    <div class="contact-card">
        <div class="card-color"></div>
    </div>


    <div class="form-container">
        <div class="form-content">
            <h1 class="title"><span class="primary-color">Contact</span> me</h1>
            <p class="description">Feel free to contact me by email or on Linkedin.</p>
            <div class="form-line">
                <mat-form-field>
                    <mat-label>Firtname</mat-label>
                    <input matInput>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Lastname</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>

            <div class="form-line">
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>

            <div class="form-line">
                <mat-form-field>
                    <mat-label>Message</mat-label>
                    <textarea matInput rows="5" cols="40"></textarea>
                </mat-form-field>
            </div>

            <div class="form-line">
                <div class="send-btn">
                    <span>Send message</span>
                </div>
            </div>


        </div>
        <div class="map"></div>
    </div>
</div>