// define all fonts used in project
@font-face {
    font-family: kanit;
    src: url(../assets/fonts/Kanit-Regular.ttf) format("opentype");
}
@font-face {
    font-family: 'kanit-bold';
    src: url(../assets/fonts/Kanit-Bold.ttf) format("opentype");
}
@font-face {
    font-family: 'kanit-light';
    src: url(../assets/fonts/Kanit-Light.ttf) format("opentype");
}