<div class="main-container">

    <h1>Privacy & Terms</h1>

    <p>
        Pursuant to Article 6 of Law No. 2004-575 of June 21, 2004 for confidence in the digital economy, it is
        users of the PorFolio - Adrien LAIGLE website are informed of the identity of the various parties involved in
        its creation and follow-up
        of its realization and its follow-up:
    </p>

    <h3>1. Website editor</h3>
    <p>Creator: Adrien Laigle</p>
    <p>Email: laigle@et.esiea.fr</p>

    <h3>2. Website hosting</h3>
    <p>IONOS</p>
    <p>Germany (central)</p>
    <a href="https://ionos.fr">https://ionos.fr</a>
    <br>
    <br>


    <h3>3. Intellectual property</h3>
    <p>The PortFolio - Adrien LAIGLE website and its contents are protected by copyright. Any reproduction, even
        without prior authorization.</p>


    <h3>4. Collection of personal data</h3>
    <p>This site does not collect or request personal data from users. The sole purpose of this site is to provide
        access to a digital resume, online.</p>


    <h3>5. Cookies</h3>
    <p>This site does not use cookies and does not record any browsing data.</p>

    <h3>6. External links</h3>
    <p>The PortFolio - Adrien Laigle site may contain links to third-party sites. We have no control over these sites
        and are not responsible for their content or privacy practices.
        practices.</p>

    <h3>7. Responsability limitation</h3>
    <p>We make every effort to provide accurate and up-to-date information on the PortFolio - Adrien Laigle website.
        However, we cannot guarantee the accuracy, completeness or relevance of the information provided.
        Use of the site is therefore at your own risk.</p>

    <h3>8. Photos credits</h3>
    <p>https://pixabay.com</p>
    <p>https://glimps.fr</p>
    <br>

</div>